@use '../abstracts' as *;
@use 'typography';

* { box-sizing: border-box; }

html { height: 100%; }

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: transparent;
}

a { color: $terciary-color; }
