@use '../abstracts' as *;

.bgPurple::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/img/bg-purple.jpg');
  filter: saturate(0.5);
}

.red { color: $red; }
.green { color: $green; }
.blue { color: $blue; }
.yellow { color: $yellow; }
.pink { color: $pink; }
.black { color: $black; }
.white { color: $white; }
.gray { color: $gray; }
