@use '/styles/abstracts' as *;

$gap-size: $spacing-md;

.showcasesContainer {
  @include py($gap-size);
  display: flex;
  flex-shrink: 0;
  gap: $gap-size;
  overflow-x: auto;
}

.tag {
  @include h3;
  text-transform: uppercase;
}

.searchContainer {
  @include py($gap-size);
}
