@use '/styles/abstracts' as *;
@use '/components/Layout/Layout.module.scss' as layout;

$shell-size: 28rem;

.mainPlyrShellContainer {
  @extend layout, .shell !optional;

  position: fixed;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 2;
  pointer-events: none;
}

.mainPlyrShell {
  position: absolute;
  pointer-events: all;
  min-width: $plyr-min-width;
  right: 0;
  bottom: 0;
  background-color: black;
}

.musicShowcaseShellBody {
  width: $shell-size;
  height: $shell-size;
}
