@use '/styles/abstracts' as *;
@use '/styles/classes/classes' as c;

.anchor {
  @extend c, .pointer !optional;
  width: fit-content;

  &.noDecoration, &.noDecoration:hover { text-decoration: none; }
  &.noColor { color: inherit; }
}
