@use '/styles/abstracts' as *;
@use '/styles/classes/classes' as c;

.banner {
  @extend c, .bgSpace !optional;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: $spacing-sm;
  border: 8px ridge $green;
  color: $green;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  font-weight: bold;
}

.nihongo {
  font-size: $fs-lg;
  font-weight: bold;
  line-height: 2;
  writing-mode: vertical-lr;
}
