@use '/styles/abstracts' as *;

.ipSection {
  margin: $spacing-sm 0;
}

.inputWrapper {
  align-items: center;
  gap: $spacing-sm;
  margin-top: $spacing-sm;

  label {
    margin: 0 $spacing-sm;
    user-select: none;
  }
}
