@use '/styles/abstracts' as *;

$shell-size: 28rem;
$gap-size: $spacing-md;

.showcasesContainer {
  @include py($gap-size);
  display: flex;
  flex-shrink: 0;
  gap: $gap-size;
  overflow-x: auto;
}

.showcaseShellBody {
  width: $shell-size;
  height: $shell-size;
  overflow: hidden;
}

.showcaseShellTitle {
  max-width: $shell-size;
}

.showcaseImage {
  object-fit: cover;
}

.tag {
  @include h3;
  text-transform: uppercase;
}

.searchContainer {
  @include py($gap-size);
}
