$red: red;
$green: chartreuse;
$blue: blue;
$cyan: cyan;
$pink: deeppink;
$orange: orange;
$gray: darkgray;
$black: black;
$white: white;
$yellow: yellow;

$colors: (
  'red': $red,
  'green': $green,
  'blue': $blue,
  'cyan': $cyan,
  'orange': $orange,
  'pink': $pink,
  'gray': $gray,
  'black': $black,
  'white': $white,
  'yellow': $yellow
);
