$red: red;
$green: chartreuse;
$blue: blue;
$cyan: cyan;
$pink: deeppink;
$orange: orange;
$gray: darkgray;
$black: black;
$white: white;
$yellow: yellow;

$primary: var(--primary);
$secondary: var(--secondary);
$terciary: var(--terciary);

$foreground: var(--primary);
$background: var(--secondary);

$shell-primary: var(--shell-primary);
$shell-secondary: var(--shell-secondary);
$shell-terciary: var(--shell-terciary);
$shell-border-color: var(--shell-border-color);

$colors: (
  'red': $red,
  'green': $green,
  'blue': $blue,
  'cyan': $cyan,
  'orange': $orange,
  'pink': $pink,
  'gray': $gray,
  'black': $black,
  'white': $white,
  'yellow': $yellow,
  'primary': $primary,
  'secondary': $secondary,
  'terciary': $terciary
);
