$red: red;
$green: chartreuse;
$blue: blue;
$cyan: cyan;
$pink: deeppink;
$orange: orange;
$gray: darkgray;
$black: black;
$white: white;
$yellow: yellow;

$primary: $green;
$secondary: $black;
$terciary: $blue;

$background: $secondary;
$foreground: $primary;

$shell-primary: $black;
$shell-secondary: $gray;
$shell-terciary: $black;
$shell-border-color: $gray;

$colors: (
  'red': $red,
  'green': $green,
  'blue': $blue,
  'cyan': $cyan,
  'orange': $orange,
  'pink': $pink,
  'gray': $gray,
  'black': $black,
  'white': $white,
  'yellow': $yellow,
  'primary': $primary,
  'secondary': $secondary,
  'terciary': $terciary
);
