@use 'colors' as colors;
@use 'typography' as *;
@use '../functions' as f;

// Other =====================================================================//
// Shell
$shell-nav-height: 1.93rem; // Magic number... kinda
$shell-border-width: 2px;

$app-width: 1240px;
$app-close-duration: 2s;

$custom-player-min-width: 21rem;

// Spacing ===================================================================//
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

// Breakpoints ===============================================================//
$sm: f.em(576);
$md: f.em(768);
$lg: f.em(992);
$xl: f.em(1200);
$xxl: f.em(1400);
