@use 'sass:math';
@use '/styles/abstracts' as *;
@use '/styles/classes/classes' as c;

$color-control: white;
$color-slider: darkgray;
$track-height: 5px;

.shellBody { padding: $spacing-xs; }
.playerWrapper { overflow: hidden; }

.controls {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  color: $color-control;

  .button, .slider, .played {
    @extend c, .pointer !optional;

    padding: 0.35rem;
    display: flex;
    align-items: center;
    user-select: none;
  }

  .played { font-size: $fs-sm; }

  .button {
    svg { @include size(18px); }
    &:hover { background-color: $gray; }
  }

  .slider { width: 4rem; }
  .progressSlider { flex-grow: 1; }

  @mixin range-track {
    width: 100%;
    height: $track-height;
    cursor: pointer;
    border-radius: 0;
    color: transparent;
    background: $color-slider;
    border-color: transparent;
  }

  @mixin range-thumb {
    appearance: none;
    height: 18px;
    width: 8px;
    cursor: pointer;
    border-radius: 0;
    background: $color-control;
  }

  input[type='range'] {
    appearance: none;
    height: 18px;
    width: 100%;
    background-color: transparent;

    &::-webkit-slider-runnable-track { @include range-track; }
    &::-moz-range-track { @include range-track; }
    &::-ms-track { @include range-track; }

    &::-webkit-slider-thumb {
      @include range-thumb;
      margin-top: -(9px - math.div($track-height, 2));
    }

    &::-moz-range-thumb {
      @include range-thumb;
    }

    &::-ms-thumb {
      @include range-thumb;
      margin-top: 1px;
    }

    &::-ms-fill-lower {
      border-radius: 0;
      background: $color-slider;
    }

    &::-ms-fill-upper {
      border-radius: 0;
      background: $color-slider;
    }

    &:focus {
      outline: none;

      &::-webkit-slider-runnable-track { background: $color-slider; }
      &::-ms-fill-lower { background: $color-slider; }
      &::-ms-fill-upper { background: $color-slider; }
    }
  }
}
