@use '/styles/abstracts' as *;
@use '/components/Layout/Layout.module.scss' as layout;

.mainPlayerContainer {
  @extend layout, .shell !optional;

  position: fixed;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 10;

  pointer-events: none;
  transform: translateX(-50%);
}

.mainPlayerShell {
  position: absolute;
  pointer-events: all;
  min-width: $custom-player-min-width;
  right: 0;
  bottom: 0;
  background-color: black;
}
