@use '/styles/abstracts' as *;

.banner {
  @include h1;

  // background-color: $black;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  font-weight: bold;
}
