@use '/styles/abstracts' as *;
@use '/styles/reset';
@use '/styles/typography';
@use '/styles/classes/classes';
@use '/styles/cursors';
@use '/styles/themes.scss';

* {
  box-sizing: border-box;
}

html, body, #__next, #app-wrapper {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
