@use '/styles/abstracts' as *;
@use '/styles/reset';
@use '/styles/typography';
@use '/styles/classes/classes';

* { box-sizing: border-box; }

html { height: 100%; }

body {
  height: 100%;
  background-color: black;
}

// CRT
body::after {
  content: ' ';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(
      rgba(18, 16, 16, 0%) 50%,
      rgba(0, 0, 0, 25%) 50%
    ),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 6%),
      rgba(0, 255, 0, 2%),
      rgba(0, 0, 255, 6%)
    );
  z-index: 100;
  background-size: 100% 3px, 4.5px 100%;
  pointer-events: none;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}
