@use '/styles/abstracts' as *;

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: fit-content;
  width: 256px;
  margin-left: auto;

  background-image: url('/img/halloween-mansion.png');
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;

  .asideHeader {
    display: flex;
    justify-content: space-around;

    width: 100%;
  }

  .asideSpotlight {
    display: flex;
    align-items: center;
    gap: $spacing-md;

    height: 350px;

    color: $orange;
    font-family: Norican, Times, serif;
    font-size: 42px;
    font-weight: 900;
    text-shadow: 0 0 10px black;

    div:first-of-type { margin-top: -50px; }
    div:last-of-type { margin-top: 50px; }
  }
}

.indexContainer { display: flex; }

.underConstruction {
  display: flex;
  align-items: center;
  gap: $spacing-md;

  width: fit-content;
  padding-bottom: $spacing-sm;

  color: $yellow;
}

.linkList {
  li {
    a {
      display: flex;
      align-items: center;
      gap: $spacing-sm;

      width: fit-content;
      margin-left: $spacing-md;
      margin-top: $spacing-md;

      color: $red;
    }
  }
}
