@use '/styles/abstracts' as *;

// TODO: Make backgrounds theme specific
:root, .theme-default {
  // Colors
  --primary: #{$green};
  --secondary: #{$black};
  --terciary: #{$blue};
  --background: var(--secondary);
  --foreground: var(--primary);
  // Shell
  --shell-primary: #{$black};
  --shell-secondary: #{$gray};
  --shell-terciary: #{$black};
  --shell-border-color: #{$gray};
  // Player
  --player-control-color: #{$white};
  --player-control-track: #{$gray};
}

.theme-blue {
  --shell-primary: #{$blue};
  --shell-secondary: #{$black};
  --shell-terciary: var(--shell-primary);
  --shell-border-color: var(--shell-primary);
  --player-control-color: var(--shell-primary);
  --player-control-track: darkblue;
}

.theme-green {
  --shell-primary: #{$green};
  --shell-secondary: #{$black};
  --shell-terciary: var(--shell-primary);
  --shell-border-color: var(--shell-primary);
  --player-control-color: var(--shell-primary);
  --player-control-track: #{darkgreen};
}

.theme-pink {
  --primary: lightpink;
  --terciary: hotpink;
  --shell-primary: hotpink;
  --shell-secondary: lavenderblush;
  --shell-terciary: var(--shell-primary);
  --shell-border-color: plum;
  --player-control-color: lavenderblush;
  --player-control-track: aliceblue;
}

.theme-red {
  --primary: crimson;
  --terciary: firebrick;
  --shell-primary: crimson;
  --shell-secondary: black;
  --shell-terciary: crimson;
  --shell-border-color: black;
  --player-control-color: var(--shell-primary);
  --player-control-track: var(--shell-terciary);
}

.theme-ivory {
  --primary: ivory;
  --terciary: ivory;
  --shell-primary: #{$black};
  --shell-secondary: #{$rainbow-gradient};
  --shell-terciary: var(--shell-primary);
  --shell-border-color: ivory;
  --player-control-color: var(--shell-secondary);
  --player-control-track: var(--shell-secondary);
}
