@use '/styles/abstracts' as *;
@use 'ShellHeader.module.scss';
@use 'sass:math';

.shell {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;

  border: solid $shell-border-width $shell-border-color;
}

.body {
  position: relative;
  overflow: auto;

  display: flex;
  flex-direction: column;

  padding: $spacing-sm;
}

.mainShell {
  height: 100%;
  width: 100%;

  >.body { height: 100%; }
}

.maximized {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
