@use '../../abstracts' as *;
@use '../buttons/unstyled' as unstyledButton;

$border-width: 2px;
$header-height: 2rem;

.mainShell { height: 100%; }

.shell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  border: solid $border-width $gray;
}

.shellTitle, .shellHeader {
  gap: $spacing-lg;
  height: $header-height;

  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: $fs-lg;
  color: $black;
  background-color: $gray;
}

.shellTitle {
  @include px($spacing-md);
}

.shellHeader {
  @include px($spacing-lg);

  .shellTitle ~ & { padding-bottom: $header-height * 0.35; }

  .shellHeaderItem {
    @extend .unstyledButton;
    position: relative;
    height: 100%;

    &:hover::after, &:focus::after {
      content: '♦';
      display: block;
      position: absolute;
      left: -14px;
      margin-top: -$border-width;

      animation: item-hover-after 0.5s ease-in-out infinite;
    }
  }
}

.shellBody {
  padding: $spacing-sm;
  height: 100%;
}

@keyframes item-hover-after {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(180deg); }
}
